body {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.dark {
  background-color: rgb(20, 99, 99);
  color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.box_1 {
  display: flex;
  margin-left: 200px;
  gap: 20px;
}

.box_2 {
  width: 48px;
  height: 24px;
  background-color: rgb(17, 36, 36);
  border-radius: 50px;
}

.box_3 {
  width: 24px;
  height: 24px;
  background-color: rgb(108, 164, 148);
  border-radius: 50%;
}

.sirkul {
  transform: translateX(20px);
}

select {
  height: 25px;
  font-size: 20px;
  margin-top: 30px;
  background-color: rgb(20, 99, 99);
  border-radius: 10px;
  color: white;
}

.head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.input {
  width: 300px;
  height: 40px;
  font-size: 26px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  background: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

.input::placeholder {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button {
  width: 100px;
  font-size: 26px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
  background-color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
